
mixin reps(data)
  .page-header
    h1  #{data[0].state_name} - District #{district}
   div.row
    each user,i in data
     div.col-md-4
      div.rep(class="#{user.party}")    
       div.face
         a(href="#{user.website}",target="_blank",class="website"): img(src="http://theunitedstates.io/images/congress/225x275/#{user.bioguide_id}.jpg",class="face")
       span #{user.title}. #{user.first_name} #{user.last_name} <br/> 
       if(user.chamber == "house") 
        p House Representative [#{user.party}]
       else if(user.chamber == "senate")
        p Senator [#{user.party}]  
       div.icons
        a(href="tel:#{user.phone}", title="#{user.phone}",class="phone"): i.fa.fa-phone
        a(href="https://twitter.com/#{user.twitter_id}",target="_blank"): i.fa.fa-twitter
        a(href="https://facebook.com/#{user.facebook_id}",target="_blank",class="facebook"): i.fa.fa-facebook
        a(href="https://youtube.com/#{user.youtube_id}",target="_blank",class="youtube"): i.fa.fa-youtube-play
        a(href="#{user.contact_form}",class="website", target="_blank"): i.fa.fa-globe
        a(href="http://opensecrets.org/politicians/summary.php?cid=#{user.crp_id}", target="_blank"): i.fa.fa-eye
   div.container    
    div.map
     #districtmap    
mixin statereps(data)
 .page-header 
  h1 #{statesenate[0].state} State Reps
 div.row
  each user,i in statesenate
   div.col-md-4
    div.rep(class="#{user.party}")    
     div.face
       a(href="#{user.url}",target="_blank",class="website"): img(src="#{user.photo_url}",class="face")
     if(user.chamber == "upper")   
      span Sen. #{user.first_name} #{user.last_name} <br/> 
     else if(user.chamber == "lower")   
      span Rep. #{user.first_name} #{user.last_name} <br/> 
     if(user.chamber == "upper") 
      p State Senator [#{user.party[0]}]
     else if(user.chamber == "lower")
      p State House Representative [#{user.party[0]}]
     span District #{user.district}   
     div.icons
      a(href="tel:#{user.offices[0].phone}", title="#{user.phone}",class="phone"): i.fa.fa-phone
      a(href="#{user.url}",class="website", target="_blank"): i.fa.fa-globe
   
