#content
.page-header
          h1  #{data[0].state_name} - #{data[0].district}
        p.lead
         ul#reps
         each user,i in data
          if user.chamber == "house"
           h3 House Representative
           div#house 
            span #{user.first_name} #{user.last_name} [#{user.party}]<br/>
            |Call:
            a(href="tel:#{user.phone}", title="#{user.phone}")  #{user.phone}<br/><br/>
            |Tweet:  
            a(href="https://twitter.com/#{user.twitter_id}"): img(src="http://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg",class="twitter_icon")
          else
           if i == 1 
            h3 Senators       
           div#senate 
            span #{user.first_name} #{user.last_name} [#{user.party}]<br/> 
            |Call:
            a(href="tel:#{user.phone}", title="#{user.phone}") #{user.phone} <br/><br/>
            |Tweet: 
            a(href="https://twitter.com/#{user.twitter_id}",target="_blank"): img(src="http://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg",class="twitter_icon")
            <br/><br/>
           
        p
          i.glyphicon.glyphicon-twitter
