#inner-content
 .page-header
  h1  #{data[0].state_name} - District #{data[0].district}
 div.container
  div.row
   each user,i in data
    div.col-md-4
     div.rep   
       div.face(class="#{user.party}") 
         a(href="#{user.website}",target="_blank",class="website"): img(src="http://theunitedstates.io/images/congress/225x275/#{user.bioguide_id}.jpg",class="face")
       span #{user.title}. #{user.first_name} #{user.last_name} [#{user.party}]<br/> 
       if(user.chamber == "house") 
        p House Representative
       else if(user.chamber == "senate")
        p Senator   
       a(href="tel:#{user.phone}", title="#{user.phone}",class="phone"): i.glyphicon.glyphicon-earphone
       a(href="https://twitter.com/#{user.twitter_id}",target="_blank"): i.fa.fa-twitter
       a(href="https://facebook.com/#{user.facebook_id}",target="_blank",class="facebook"): i.fa.fa-facebook
       a(href="https://youtube.com/#{user.youtube_id}",target="_blank",class="youtube"): i.fa.fa-youtube-play
       a(href="#{user.contact_form}",class="website"): i.glyphicon.glyphicon-globe
       hr
